<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boost.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,511},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,223}}</string>
                <key>sourceSize</key>
                <string>{768,223}</string>
            </dict>
            <key>intro_moon.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,529},{295,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,295}}</string>
                <key>sourceSize</key>
                <string>{295,295}</string>
            </dict>
            <key>label_best.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{195,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,22}}</string>
                <key>sourceSize</key>
                <string>{195,22}</string>
            </dict>
            <key>label_best_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,502},{298,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,37}}</string>
                <key>sourceSize</key>
                <string>{298,37}</string>
            </dict>
            <key>label_game_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,424},{397,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,251}}</string>
                <key>sourceSize</key>
                <string>{397,251}</string>
            </dict>
            <key>label_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{420,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,237}}</string>
                <key>sourceSize</key>
                <string>{420,237}</string>
            </dict>
            <key>label_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,847},{156,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,56}}</string>
                <key>sourceSize</key>
                <string>{156,56}</string>
            </dict>
            <key>label_meridian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{425,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,88}}</string>
                <key>sourceSize</key>
                <string>{425,88}</string>
            </dict>
            <key>label_number.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,942},{62,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,70}}</string>
                <key>sourceSize</key>
                <string>{62,70}</string>
            </dict>
            <key>label_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,847},{144,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,56}}</string>
                <key>sourceSize</key>
                <string>{144,56}</string>
            </dict>
            <key>label_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,823},{106,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,22}}</string>
                <key>sourceSize</key>
                <string>{106,22}</string>
            </dict>
            <key>label_stars.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,823},{99,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,22}}</string>
                <key>sourceSize</key>
                <string>{99,22}</string>
            </dict>
            <key>label_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,227},{178,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,56}}</string>
                <key>sourceSize</key>
                <string>{178,56}</string>
            </dict>
            <key>label_try_again.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,227},{273,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,56}}</string>
                <key>sourceSize</key>
                <string>{273,56}</string>
            </dict>
            <key>label_tutorial.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,227},{253,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,56}}</string>
                <key>sourceSize</key>
                <string>{253,56}</string>
            </dict>
            <key>loading_ipad.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,227},{282,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,60}}</string>
                <key>sourceSize</key>
                <string>{282,60}</string>
            </dict>
            <key>moon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,851},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>moon_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,942},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>moon_perch.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,847},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,2},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>star_1_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,2},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>star_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,993},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>star_2_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,407},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>star_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,611},{38,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,37}}</string>
                <key>sourceSize</key>
                <string>{38,37}</string>
            </dict>
            <key>star_3_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1005},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>star_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,567},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>star_4_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,993},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>sun_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,541},{273,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,273}}</string>
                <key>sourceSize</key>
                <string>{273,273}</string>
            </dict>
            <key>sun_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,227},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprite_sheet.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ee9c53ae75ed0210a1524fd7e754e81$</string>
            <key>textureFileName</key>
            <string>sprite_sheet.png</string>
        </dict>
    </dict>
</plist>
