<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boost.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1008},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1536,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1536,400}}</string>
                <key>sourceSize</key>
                <string>{1536,400}</string>
            </dict>
            <key>intro_moon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,2},{504,505}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,505}}</string>
                <key>sourceSize</key>
                <string>{504,505}</string>
            </dict>
            <key>label_best.png</key>
            <dict>
                <key>frame</key>
                <string>{{2001,508},{389,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,43}}</string>
                <key>sourceSize</key>
                <string>{389,43}</string>
            </dict>
            <key>label_best_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,875},{593,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{593,69}}</string>
                <key>sourceSize</key>
                <string>{593,69}</string>
            </dict>
            <key>label_game_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,508},{764,475}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{764,475}}</string>
                <key>sourceSize</key>
                <string>{764,475}</string>
            </dict>
            <key>label_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{955,469}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{955,469}}</string>
                <key>sourceSize</key>
                <string>{955,469}</string>
            </dict>
            <key>label_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,951},{370,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,114}}</string>
                <key>sourceSize</key>
                <string>{370,114}</string>
            </dict>
            <key>label_meridian.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1103},{823,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{823,148}}</string>
                <key>sourceSize</key>
                <string>{823,148}</string>
            </dict>
            <key>label_number.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,1067},{97,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,111}}</string>
                <key>sourceSize</key>
                <string>{97,111}</string>
            </dict>
            <key>label_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,946},{338,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,114}}</string>
                <key>sourceSize</key>
                <string>{338,114}</string>
            </dict>
            <key>label_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{2001,899},{210,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,43}}</string>
                <key>sourceSize</key>
                <string>{210,43}</string>
            </dict>
            <key>label_stars.png</key>
            <dict>
                <key>frame</key>
                <string>{{2001,1111},{199,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,43}}</string>
                <key>sourceSize</key>
                <string>{199,43}</string>
            </dict>
            <key>label_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,875},{426,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,114}}</string>
                <key>sourceSize</key>
                <string>{426,114}</string>
            </dict>
            <key>label_try_again.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1312},{665,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{665,114}}</string>
                <key>sourceSize</key>
                <string>{665,114}</string>
            </dict>
            <key>label_tutorial.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,1253},{616,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{616,114}}</string>
                <key>sourceSize</key>
                <string>{616,114}</string>
            </dict>
            <key>loading_ipad.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,946},{282,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,60}}</string>
                <key>sourceSize</key>
                <string>{282,60}</string>
            </dict>
            <key>moon.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,875},{226,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,226}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>moon_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,946},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>moon_perch.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1103},{186,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,186}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,438},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>star_1_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,493},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>star_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1000},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>star_2_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,467},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>star_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,946},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>star_3_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,404},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>star_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,1008},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>star_4_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1052},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>sun_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,404},{545,545}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,545}}</string>
                <key>sourceSize</key>
                <string>{545,545}</string>
            </dict>
            <key>sun_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1312},{717,716}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{717,716}}</string>
                <key>sourceSize</key>
                <string>{717,716}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprite_sheet.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1844622e6bfdf8a2abcb70e35435d051$</string>
            <key>textureFileName</key>
            <string>sprite_sheet.png</string>
        </dict>
    </dict>
</plist>
